@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

body {
  font-family: "Inter", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.section-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.section-body {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.primary-button {
  background: rgb(230, 83, 60);
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/* header section */

#header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgba(1, 0, 0, 1)
  );
}
.nav-bar {
  color: white;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
}
.nav-bar h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  color: rgb(230, 83, 60);
}
.nav-menu {
  display: flex;
  gap: 50px;
  padding: 12px 30px 12px 0;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-menu ul {
  display: flex;
  gap: 50px;
}
.nav-menu li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.nav-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-home a {
  padding: 12px 30px;
  border-radius: 50px;
  background: rgb(230, 83, 60);
}
.menu-icon {
  display: none;
}




.hero-banner {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
}
.banner-text h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner-text h1 span {
  font-family: "Miama", sans-serif;
  font-size: 150px;
  font-weight: 400;
}
.banner-text p {
  margin: 30px 0;
  font-size: 16px;
}
.banner-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-image img {
  display: flex;
  bottom: 0;
  left: 200px;
}
.video-tutorial {
  position: absolute;
  left: 90px;
  gap: 10px;
  bottom: 65px;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
}
.video-tutorial h2 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.video-tutorial p {
  font-size: 16px;
}
.red-spot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.free-videos {
  position: absolute;
  top: 125px;
  right: -55px;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(42, 42, 42, 0.5);
}
.free-videos h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.free-videos p {
  font-size: 13px;
}
.download-button {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
}







#change-habit,
#run-easily,
#uniqe-section,
#meet-our-team{
  background-color: black;
}

section {
    padding-bottom: 100px;
  }
/* habit-section */

.habit-container {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 100px;
  }
  .habit-title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
  }
  .habit-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .habit-card {
    color: white;
    text-align: center;
  }
  .habit-card h2 {
    margin: 20px 0 10px 0;
  }
  .habit-card p {
    width: 80%;
    margin: 0 auto;
  }
  .habit-card img {
    border-radius: 50%;
  }
  
  /* Run section */
  
  .run-easily-container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    background: rgb(34, 34, 34);
  }
  .run-easily-texts {
    width: 60%;
    padding-right: 200px;
  }
  .run-easily-texts p {
    margin-bottom: 20px;
    letter-spacing: 0.3px;
  }
  .run-easily-image {
    width: 40%;
  }
  .run-easily-image img {
    width: 100%;
    border-radius: 15px;
  }
 
  

   /* calculator */

  .header-container {
    background-color: black;
  }
  .header-content {
    color: white;
    max-width: 1060px;
    margin: 0 auto;
    padding-left: 300px;
    padding-bottom: 100px;
  }
  
  #bmi-calculator {
    background: rgb(34, 34, 34);
    padding-bottom: 0px;
  }
  .calculator-container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 70px 0;
    display: grid;
    gap: 100px;
    grid-template-columns: 0.8fr 1.2fr;
  }
  .chart-container {
    color: rgba(255, 255, 255, 0.5);
  }
  .bmi-table,
  th,
  td {
    padding: 15px;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .chart-container h1 {
    font-size: 28px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
  }
  .bmi-table {
    width: 90%;
  }
  .bmi-table th {
    font-size: 18px;
    text-align: left;
    width: 50%;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .calculator-form h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }
  .calculator-form p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .input-group1,
  .input-group2 {
    display: flex;
    gap: 20px;
    color: gray;
    margin-bottom: 20px;
  }
  .input-group1 input,
  .input-group2 input,
  select {
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 50%;
    color: gray;
    background-color: rgb(65, 65, 65);
  }
  .input-group3 select {
    width: 100%;
    color: gray;
    margin-bottom: 20px;
  }
  .input-group2 select option {
    padding: 30px;
  }
  



  .meet-team-container {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 100px;
  }
  .our-team-title {
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 50px;
  }
  .trainer-images {
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
  }
  .trainer-images img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
  }
  .trainer-image-row1,
  .trainer-image-row2 {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .trainer-image-row1 > div,
  .trainer-image-row2 > div {
    position: relative;
  }
  .trainer-image-row1 {
    margin-bottom: 30px;
  }
  .trainer-images h3 {
    position: absolute;
    font-size: 20px;
    bottom: 14%;
    left: 5%;
    color: rgb(255, 255, 255);
  }
  .trainer-images p {
    position: absolute;
    font-size: 16px;
    bottom: 6%;
    left: 5%;
    color: rgb(255, 255, 255, 0.5);
  }
  
  
    /* footer */
    /* footer */
  #footer {
    background: rgb(34, 34, 34);
  }
  .footer-content {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    padding: 100px 0 30px 0;
    grid-template-columns: 1fr 1fr;
  }
  .footer-menu-items {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  
  .footer-title h1 {
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
    margin-bottom: 20px;
  }
  .mark p {
    font-size: 20px;
    padding: 40px;
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
  .footer-menu h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
  }
  .footer-menu ul {
    font-size: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer-menu ul li {
    list-style: none;
    margin-bottom: 20px;
  }
  




  .pricing {
    max-width: 1000px;
    width: 90%;
    margin:auto;
  }
  
  .pricing-text {
    margin: 0 auto 40px;
    max-width: 671px;
    text-align: center;
  }
  
  .pricing-text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
  }
  
  .pricing-text p {
    max-width: 671px;
    color: rgba(223, 223, 223, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
  
  .pricing-cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  
  .pricing-card {
    background-color:#695c59;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    padding: 30px;
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  
  
  .pricing-card h2 {
    color: #000000;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 10px;
  }
  
  .pricing-card p {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
  }
  
  .plan-details {
    list-style: none;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .plan-details li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .plan-details li i {
    margin-right: 10px;
  }
  
  .select-plan {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s ease;
  }
  
  .select-plan:hover {
    background-color: #c04634;
  }
  
  .premium {
    border: 2px solid gold;
  }
  
  .premium i {
    color: gold;
  }

@media screen and (max-width: 576px) {
    .nav-bar {
      padding: 30px 20px;
    }
    .nav-menu {
      display: none;
    }
    .nav-bar h1 {
      font-size: 30px;
    }
    .menu-icon {
      display: inline;
    }
    .menu-icon i {
      color: white;
    }
    .hero-banner {
      padding: 20px;
      flex-direction: column;
    }
    .banner-text {
      width: 100%;
    }
    .banner-text h1 {
      font-size: 40px;
      font-weight: 900;
    }
    .banner-text h1 span {
      font-size: 70px;
      font-weight: 400;
    }
    .primary-button {
      padding: 15px 10px;
      font-size: 16px;
      font-weight: 400;
    }
    .download-button {
      padding: 15px 10px;
      margin-left: 0px;
      font-size: 16px;
      font-weight: 400;
    }
    .banner-button {
      display: grid;
      gap: 20px;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
    }
    .banner-image {
      width: 100%;
      zoom: 1;
      position: relative;
    }
    .video-tutorial {
      left: -20px;
      bottom: 230px;
      scale: 0.8;
    }
    .free-videos {
      top: 30px;
      right: -30px;
      scale: 0.7;
    }



    #change-habit {
        padding-bottom: 30px;
        padding-top: 20px;
      }
      .habit-container {
        padding: 0 20px 0 20px;
      }
      .habit-title {
        width: 100%;
        margin-bottom: 50px;
      }
      .habit-title h1 {
        font-size: 32px;
        margin-bottom: 15px;
      }
      .habit-card-container {
        flex-direction: column;
      }
      .habit-card h2 {
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      .habit-card p {
        width: 70%;
        margin-bottom: 30px;
      }
      .habit-card img {
        border-radius: 50%;
      }
      #run-easily {
        padding-bottom: 50px;
      }
      
      .run-easily-container {
        padding: 20px;
        margin: 0 20px;
        flex-direction: column;
      }
      
      .run-easily-texts h1 {
        font-size: 32px;
      }
      
      .run-easily-texts {
        width: 100%;
        padding-right: 0px;
      }
      
      .run-easily-texts button {
        width: 100%;
        margin-bottom: 30px;
      }
      
      .run-easily-texts p {
        margin-bottom: 30px;
      }
      
      .run-easily-image {
        width: 100%;
      }
    


    
  .header-container {
    padding: 50px 20px;
    border: none;
    background-color: black;
  }
  .header-content {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .header-content h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }


  #bmi-calculator {
    padding: 0 20px;
  }
  .calculator-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 50px 0;
  }
  .chart-container h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
  }
  .bmi-table {
    width: 100%;
  }
  .bmi-table th {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 50%;
    color: rgb(255, 255, 255, 0.8);
  }
  .calculator-form h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
  }
  .calc-btn {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 400;
  }

  

  #meet-our-team {
    padding-bottom: 0;
  }
  .meet-team-container {
    padding: 50px 20px;
  }
  .our-team-title {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  }
  .our-team-title h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .trainer-images {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
  }
  .trainer-image-row1,
  .trainer-image-row2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .trainer-image-row1 {
    margin-bottom: 20px;
  }
  .trainer-images img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .trow2-images1,
  .trow1-images1{
    display: none;
  }


  #footer {
    padding: 0 20px;
  }
  .footer-content {
    gap: 30px;
    padding: 30px 0 20px 0;
    grid-template-columns: 1fr;
  }
  .footer-title h1 {
    font-size: 50px;
  }
  .footer-menu h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .footer-menu-items {
    grid-template-columns: 1fr;
  }
  pricing {
    margin: auto;
  }
  
  .pricing-text h1 {
    font-size: 32px;
  }
  
  .pricing-cards {
    flex-direction: column;
  }
}  