@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

body {
  font-family: "Inter", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.section-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.section-body {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.primary-button {
  background: rgb(230, 83, 60);
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/* header section */

#header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgba(1, 0, 0, 1)
  );
}
.nav-bar {
  color: white;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
}
.nav-bar h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  color: rgb(230, 83, 60);
}
.nav-menu {
  display: flex;
  gap: 50px;
  padding: 12px 30px 12px 0;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-menu ul {
  display: flex;
  gap: 50px;
}
.nav-menu li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.nav-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-home a {
  padding: 12px 30px;
  border-radius: 50px;
  background: rgb(230, 83, 60);
}
.menu-icon {
  display: none;
}




.hero-banner {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
}
.banner-text h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner-text h1 span {
  font-family: "Miama", sans-serif;
  font-size: 150px;
  font-weight: 400;
}
.banner-text p {
  margin: 30px 0;
  font-size: 16px;
}
.banner-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-image img {
  display: flex;
  bottom: 0;
  left: 200px;
}
.video-tutorial {
  position: absolute;
  left: 90px;
  gap: 10px;
  bottom: 65px;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
}
.video-tutorial h2 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.video-tutorial p {
  font-size: 16px;
}
.red-spot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.free-videos {
  position: absolute;
  top: 125px;
  right: -55px;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(42, 42, 42, 0.5);
}
.free-videos h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.free-videos p {
  font-size: 13px;
}
.download-button {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
}







#change-habit,
#run-easily{
  background-color: black;
}

section {
    padding-bottom: 100px;
  }
/* habit-section */

.habit-container {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 100px;
  }
  .habit-title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
  }
  .habit-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .habit-card {
    color: white;
    text-align: center;
  }
  .habit-card h2 {
    margin: 20px 0 10px 0;
  }
  .habit-card p {
    width: 80%;
    margin: 0 auto;
  }
  .habit-card img {
    border-radius: 50%;
  }
  
  /* Run section */
  
  .run-easily-container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    background: rgb(34, 34, 34);
  }
  .run-easily-texts {
    width: 60%;
    padding-right: 200px;
  }
  .run-easily-texts p {
    margin-bottom: 20px;
    letter-spacing: 0.3px;
  }
  .run-easily-image {
    width: 40%;
  }
  .run-easily-image img {
    width: 100%;
    border-radius: 15px;
  }
 
  














@media screen and (max-width: 576px) {
    .nav-bar {
      padding: 30px 20px;
    }
    .nav-menu {
      display: none;
    }
    .nav-bar h1 {
      font-size: 30px;
    }
    .menu-icon {
      display: inline;
    }
    .menu-icon i {
      color: white;
    }
    .hero-banner {
      padding: 20px;
      flex-direction: column;
    }
    .banner-text {
      width: 100%;
    }
    .banner-text h1 {
      font-size: 40px;
      font-weight: 900;
    }
    .banner-text h1 span {
      font-size: 70px;
      font-weight: 400;
    }
    .primary-button {
      padding: 15px 10px;
      font-size: 16px;
      font-weight: 400;
    }
    .download-button {
      padding: 15px 10px;
      margin-left: 0px;
      font-size: 16px;
      font-weight: 400;
    }
    .banner-button {
      display: grid;
      gap: 20px;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
    }
    .banner-image {
      width: 100%;
      zoom: 1;
      position: relative;
    }
    .video-tutorial {
      left: -20px;
      bottom: 230px;
      scale: 0.8;
    }
    .free-videos {
      top: 30px;
      right: -30px;
      scale: 0.7;
    }



    #change-habit {
        padding-bottom: 30px;
        padding-top: 20px;
      }
      .habit-container {
        padding: 0 20px 0 20px;
      }
      .habit-title {
        width: 100%;
        margin-bottom: 50px;
      }
      .habit-title h1 {
        font-size: 32px;
        margin-bottom: 15px;
      }
      .habit-card-container {
        flex-direction: column;
      }
      .habit-card h2 {
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
      }
      .habit-card p {
        width: 70%;
        margin-bottom: 30px;
      }
      .habit-card img {
        border-radius: 50%;
      }
      #run-easily {
        padding-bottom: 50px;
      }
      
      .run-easily-container {
        padding: 20px;
        margin: 0 20px;
        flex-direction: column;
      }
      
      .run-easily-texts h1 {
        font-size: 32px;
      }
      
      .run-easily-texts {
        width: 100%;
        padding-right: 0px;
      }
      
      .run-easily-texts button {
        width: 100%;
        margin-bottom: 30px;
      }
      
      .run-easily-texts p {
        margin-bottom: 30px;
      }
      
      .run-easily-image {
        width: 100%;
      }
    
    
}  